!!!
html
  head
    title YrrrrStuffff
    link(rel='stylesheet', href='/assets/stylesheets/application.css')
  body
    - if (typeof user === 'undefined')
      p
        a(href="/") Home | 
        a(href="/login") Log In
    - else
      p
        a(href="/") Home 
        |
        a(href="/login") Log In
        |
        a(href="/logout") Log Out
    != body